streamlit
 crewai==0.51.1
 crewai-tools==0.8.3
 groq
 langchain_huggingface
 langchain-groq
 python-docx
 docx2pdf
 Spire.Doc
 plum-dispatch==1.7.4
 requests 
bs4
pysqlite3-binary
langchain-community
langchain==0.2.16
langchain-huggingface
