 groq
 langchain_huggingface
 langchain-groq
 python-docx
 docx2pdf
 Spire.Doc
 plum-dispatch==1.7.4
 requests 
bs4
pysqlite3-binary
langchain-community
langchain==0.2.16
langchain-huggingface
pysqlite3-binary
chromadb==0.4.24
pysqlite3
streamlit
 crewai==0.51.0
 crewai-tools==0.12.0
